body {
    font-family: 'Roboto Bold', sans-serif;
    background-color: white;
}
.title {
    text-align: center;
}
.flex-container {
    display: flexbox;
    /* justify-content: left; */
    flex-direction: column;
    width: 15em;
    height: 100vh;
    background-color: white;
    /* align-items:center; */
    margin: 0;
    padding: 0;
    border: solid 1px #444749;
}
.flex-main{
    background-color: white;
    border: solid 1px #444749;
    margin: 0px;
    flex-basis: 200px;
    /* flex-shrink: 1; */
    /* box-sizing: border-box; */
}
.flex-chat{
    background-color: white;
    border: solid 1px #444749;
    margin: 0px;
    justify-items: center;
    /* flex-basis: 200px;
    flex-shrink: 1; */
    /* box-sizing: border-box; */
}
.button {
    background-color: #A491D2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button_chat {
    background-color: #fff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color:#CDC3E6;
}
.button: {
    background-color: #D4DCFF;
}
.flex-item {

    background-color: white;
    border: solid 1px #444749;
    margin: 0px;
    display: flex;
    flex-direction: row;
    /* flex-basis: 200px; */
    /* flex-shrink: 1; */
    /* box-sizing:inherit; */
}
.imagen_de_fondo {
    /* display: flex;
    align-items: center; */
    border: 0px solid;
}
.imagen_de_fondo img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 10%;
    padding: 5px;
}
.mensaje_central {
	background: white;
	padding:150px;
	flex:1 1 30%;
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: column;
    height: 100vmin;
    align-items: center;
    align-content: center;
}
/* .mensaje_central img {
    width: 50%;
} */
.mensaje_central div {
    border-radius: 25%;
}
.mensaje_central p {
    align-items: center;
}
.titulo {
    font-size: 46px;
}
.ventana {
    display: flex;
    align-items: flex-start;
    height: 200px;
    margin: 0;
}
.symbol {
    display: inline-block;
    /* -ms-flex-negative: 0; */
    flex-shrink: 0;
    position:relative;
    border-radius: 0.42rem;
}
.symbol.symbol-40 > img {
    width: 100%;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}
.symbol.symbol-10 > img {
    width: 100%;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}
.mano {
    align-items: center;
}
.nombre {
    font-size: 14px;
    padding: 5px;
}
.nombre2 {
    font-size: 16px;
    padding: 3px;
}
.estado {
    font-size: 10px;
}
.ultimo_chat {
    font-size: 10px;
    padding: 3px;
}
